<div>
  <p>
    page-two works!
  </p>
  <p>
    What is your favorite city? {{ city ? "It's "+displayCity() : "None?"}}
  </p>
  <hr>
 
  

  
  <input [(ngModel)]="city" type="text">
  <p *ngIf="city.toUpperCase() == 'CHICAGO';">Chicago is the 3rd largest city in the USA</p>
  <p *ngIf="city.toUpperCase() == 'PARIS';">The one in Texas, or France?</p>
  <p *ngIf="city.toUpperCase() == 'SAN FRANCISCO';">Spanish priests first established a missionary there in 1776, the same year English colonists on the other side of the contenient declared independence from England.</p>
  <ng-template #notChic>not Chicago?</ng-template>
  <br><br>
  <button class="btn btn-primary" (click)="deAct()">I change my mind.</button>


<hr>
<input type='radio' id="status" (change)="changeStatus()" [checked]="status"><label for="status">Status: </label> {{status}}
<br>
<button (click)="changeStatus()">Toggle Status</button>
<hr>

</div>





